-- =============================================================================
-- V1__init_core.sql: Núcleo del Modelo de Datos - EquipRent
-- =============================================================================
/*DROP SCHEMA equiprent CASCADE;
CREATE SCHEMA equiprent;*/
-- 1. TABLA: usuario
CREATE TABLE equiprent.usuario (
    usuario_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(150) NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    rol VARCHAR(30) NOT NULL,
    activo BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT uq_usuario_username UNIQUE (username),
    CONSTRAINT uq_usuario_email UNIQUE (email),
    CONSTRAINT ck_usuario_username CHECK (BTRIM(username) <> ''),
    CONSTRAINT ck_usuario_email CHECK (BTRIM(email) <> '')
);

-- 2. TABLA: cliente
CREATE TABLE equiprent.cliente (
    cliente_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    tipo_documento VARCHAR(20) NOT NULL,
    numero_documento VARCHAR(30) NOT NULL,
    nombre_completo VARCHAR(150) NOT NULL,
    telefono VARCHAR(30) NOT NULL,
    email VARCHAR(150) NOT NULL,
    estado_credito VARCHAR(30) NOT NULL,
    activo BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT uq_cliente_documento UNIQUE (tipo_documento, numero_documento),
    CONSTRAINT ck_cliente_nombre CHECK (BTRIM(nombre_completo) <> '')
);

-- 3. TABLA: categoria_equipo
CREATE TABLE equiprent.categoria_equipo (
    categoria_equipo_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    descripcion TEXT,
    activo BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT uq_categoria_equipo_nombre UNIQUE (nombre),
    CONSTRAINT ck_categoria_equipo_nombre CHECK (BTRIM(nombre) <> '')
);

-- 4. TABLA: equipo (Hija de categoria_equipo)
CREATE TABLE equiprent.equipo (
    equipo_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    categoria_equipo_id BIGINT NOT NULL,
    codigo_modelo VARCHAR(50) NOT NULL,
    nombre VARCHAR(150) NOT NULL,
    marca VARCHAR(100) NOT NULL,
    descripcion TEXT,
    deposito_base_sugerido NUMERIC(12, 2) NOT NULL,
    activo BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_equipo_categoria_equipo
        FOREIGN KEY (categoria_equipo_id)
        REFERENCES equiprent.categoria_equipo (categoria_equipo_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_equipo_codigo_modelo UNIQUE (codigo_modelo),
    CONSTRAINT ck_equipo_deposito CHECK (deposito_base_sugerido >= 0)
);

CREATE INDEX idx_equipo_categoria_equipo_id ON equiprent.equipo (categoria_equipo_id);

-- 5. TABLA: tarifa (Hija de equipo)
CREATE TABLE equiprent.tarifa (
    tarifa_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    equipo_id BIGINT NOT NULL,
    modalidad VARCHAR(30) NOT NULL,
    precio NUMERIC(12, 2) NOT NULL,
    vigente BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_tarifa_equipo
        FOREIGN KEY (equipo_id)
        REFERENCES equiprent.equipo (equipo_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_tarifa_equipo_modalidad_vigente UNIQUE (equipo_id, modalidad, vigente),
    CONSTRAINT ck_tarifa_precio CHECK (precio > 0)
);

CREATE INDEX idx_tarifa_equipo_id ON equiprent.tarifa (equipo_id);

-- 6. TABLA: unidad_equipo (Hija de equipo)
CREATE TABLE equiprent.unidad_equipo (
    unidad_equipo_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    equipo_id BIGINT NOT NULL,
    numero_serie VARCHAR(100) NOT NULL,
    estado_operativo VARCHAR(30) NOT NULL,
    metrica_uso_acumulada NUMERIC(12, 2) NOT NULL DEFAULT 0.00,
    notas_estado TEXT,
    activo BOOLEAN NOT NULL DEFAULT TRUE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_unidad_equipo_equipo
        FOREIGN KEY (equipo_id)
        REFERENCES equiprent.equipo (equipo_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_unidad_equipo_numero_serie UNIQUE (numero_serie)
);

CREATE INDEX idx_unidad_equipo_equipo_id ON equiprent.unidad_equipo (equipo_id);

-- 7. TABLA: reserva (Hija de cliente y usuario)
CREATE TABLE equiprent.reserva (
    reserva_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    cliente_id BIGINT NOT NULL,
    usuario_creador_id BIGINT NOT NULL,
    codigo_reserva VARCHAR(50) NOT NULL,
    fecha_inicio_programada TIMESTAMPTZ NOT NULL,
    fecha_fin_programada TIMESTAMPTZ NOT NULL,
    estado VARCHAR(30) NOT NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_reserva_cliente
        FOREIGN KEY (cliente_id)
        REFERENCES equiprent.cliente (cliente_id)
        ON DELETE RESTRICT,
    CONSTRAINT fk_reserva_usuario_creador
        FOREIGN KEY (usuario_creador_id)
        REFERENCES equiprent.usuario (usuario_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_reserva_codigo_reserva UNIQUE (codigo_reserva),
    CONSTRAINT ck_reserva_fechas CHECK (fecha_fin_programada > fecha_inicio_programada)
);

CREATE INDEX idx_reserva_cliente_id ON equiprent.reserva (cliente_id);
CREATE INDEX idx_reserva_usuario_creador_id ON equiprent.reserva (usuario_creador_id);

-- 8. TABLA: reserva_detalle (Hija de reserva, unidad_equipo y tarifa)
CREATE TABLE equiprent.reserva_detalle (
    reserva_detalle_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    reserva_id BIGINT NOT NULL,
    unidad_equipo_id BIGINT NOT NULL,
    tarifa_id BIGINT NOT NULL,
    precio_pactado NUMERIC(12, 2) NOT NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_reserva_detalle_reserva
        FOREIGN KEY (reserva_id)
        REFERENCES equiprent.reserva (reserva_id)
        ON DELETE CASCADE,
    CONSTRAINT fk_reserva_detalle_unidad_equipo
        FOREIGN KEY (unidad_equipo_id)
        REFERENCES equiprent.unidad_equipo (unidad_equipo_id)
        ON DELETE RESTRICT,
    CONSTRAINT fk_reserva_detalle_tarifa
        FOREIGN KEY (tarifa_id)
        REFERENCES equiprent.tarifa (tarifa_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_reserva_detalle_reserva_unidad UNIQUE (reserva_id, unidad_equipo_id),
    CONSTRAINT ck_reserva_detalle_precio CHECK (precio_pactado >= 0)
);

CREATE INDEX idx_reserva_detalle_reserva_id ON equiprent.reserva_detalle (reserva_id);
CREATE INDEX idx_reserva_detalle_unidad_equipo_id ON equiprent.reserva_detalle (unidad_equipo_id);
CREATE INDEX idx_reserva_detalle_tarifa_id ON equiprent.reserva_detalle (tarifa_id);

-- 9. TABLA: deposito (1:1 con reserva)
CREATE TABLE equiprent.deposito (
    deposito_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    reserva_id BIGINT NOT NULL,
    monto_recibido NUMERIC(12, 2) NOT NULL,
    monto_retenido_danos NUMERIC(12, 2) NOT NULL DEFAULT 0.00,
    monto_devuelto NUMERIC(12, 2) NOT NULL DEFAULT 0.00,
    estado VARCHAR(30) NOT NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_deposito_reserva
        FOREIGN KEY (reserva_id)
        REFERENCES equiprent.reserva (reserva_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_deposito_reserva_id UNIQUE (reserva_id)
);

-- 10. TABLA: entrega (1:1 con reserva, N:1 con usuario)
CREATE TABLE equiprent.entrega (
    entrega_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    reserva_id BIGINT NOT NULL,
    usuario_operador_id BIGINT NOT NULL,
    fecha_hora_salida TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    metrica_salida NUMERIC(12, 2) NOT NULL,
    observaciones_salida TEXT,
    CONSTRAINT fk_entrega_reserva
        FOREIGN KEY (reserva_id)
        REFERENCES equiprent.reserva (reserva_id)
        ON DELETE RESTRICT,
    CONSTRAINT fk_entrega_usuario_operador
        FOREIGN KEY (usuario_operador_id)
        REFERENCES equiprent.usuario (usuario_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_entrega_reserva_id UNIQUE (reserva_id)
);

CREATE INDEX idx_entrega_usuario_operador_id ON equiprent.entrega (usuario_operador_id);

-- 11. TABLA: devolucion (1:1 con entrega, N:1 con usuario)
CREATE TABLE equiprent.devolucion (
    devolucion_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    entrega_id BIGINT NOT NULL,
    usuario_operador_id BIGINT NOT NULL,
    fecha_hora_retorno TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    metrica_retorno NUMERIC(12, 2) NOT NULL,
    observaciones_retorno TEXT,
    CONSTRAINT fk_devolucion_entrega
        FOREIGN KEY (entrega_id)
        REFERENCES equiprent.entrega (entrega_id)
        ON DELETE RESTRICT,
    CONSTRAINT fk_devolucion_usuario_operador
        FOREIGN KEY (usuario_operador_id)
        REFERENCES equiprent.usuario (usuario_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_devolucion_entrega_id UNIQUE (entrega_id)
);

CREATE INDEX idx_devolucion_usuario_operador_id ON equiprent.devolucion (usuario_operador_id);

-- 12. TABLA: inspeccion (1:1 con devolucion, N:1 con usuario)
CREATE TABLE equiprent.inspeccion (
    inspeccion_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    devolucion_id BIGINT NOT NULL,
    usuario_tecnico_id BIGINT NOT NULL,
    resultado VARCHAR(50) NOT NULL,
    checklist_aprobado BOOLEAN NOT NULL,
    observaciones TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_inspeccion_devolucion
        FOREIGN KEY (devolucion_id)
        REFERENCES equiprent.devolucion (devolucion_id)
        ON DELETE RESTRICT,
    CONSTRAINT fk_inspeccion_usuario_tecnico
        FOREIGN KEY (usuario_tecnico_id)
        REFERENCES equiprent.usuario (usuario_id)
        ON DELETE RESTRICT,
    CONSTRAINT uq_inspeccion_devolucion_id UNIQUE (devolucion_id)
);

CREATE INDEX idx_inspeccion_usuario_tecnico_id ON equiprent.inspeccion (usuario_tecnico_id);

-- 13. TABLA: dano (Hija de inspeccion y unidad_equipo)
CREATE TABLE equiprent.dano (
    dano_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    inspeccion_id BIGINT NOT NULL,
    unidad_equipo_id BIGINT NOT NULL,
    descripcion TEXT NOT NULL,
    costo_estimado_reparacion NUMERIC(12, 2) NOT NULL,
    imputable_cliente BOOLEAN NOT NULL DEFAULT FALSE,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_dano_inspeccion
        FOREIGN KEY (inspeccion_id)
        REFERENCES equiprent.inspeccion (inspeccion_id)
        ON DELETE RESTRICT,
    CONSTRAINT fk_dano_unidad_equipo
        FOREIGN KEY (unidad_equipo_id)
        REFERENCES equiprent.unidad_equipo (unidad_equipo_id)
        ON DELETE RESTRICT,
    CONSTRAINT ck_dano_costo CHECK (costo_estimado_reparacion >= 0)
);

CREATE INDEX idx_dano_inspeccion_id ON equiprent.dano (inspeccion_id);
CREATE INDEX idx_dano_unidad_equipo_id ON equiprent.dano (unidad_equipo_id);

-- 14. TABLA: mantenimiento (Hija de unidad_equipo, 0..1 con dano)
CREATE TABLE equiprent.mantenimiento (
    mantenimiento_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    unidad_equipo_id BIGINT NOT NULL,
    dano_id BIGINT,
    tipo VARCHAR(50) NOT NULL,
    fecha_ingreso TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    fecha_egreso_estimada TIMESTAMPTZ NOT NULL,
    fecha_egreso_real TIMESTAMPTZ,
    estado VARCHAR(30) NOT NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_mantenimiento_unidad_equipo
        FOREIGN KEY (unidad_equipo_id)
        REFERENCES equiprent.unidad_equipo (unidad_equipo_id)
        ON DELETE RESTRICT,
    CONSTRAINT fk_mantenimiento_dano
        FOREIGN KEY (dano_id)
        REFERENCES equiprent.dano (dano_id)
        ON DELETE SET NULL,
    CONSTRAINT uq_mantenimiento_dano_id UNIQUE (dano_id)
);

CREATE INDEX idx_mantenimiento_unidad_equipo_id ON equiprent.mantenimiento (unidad_equipo_id);

-- 15. TABLA: auditoria_excepcion (Hija de usuario)
CREATE TABLE equiprent.auditoria_excepcion (
    auditoria_excepcion_id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    usuario_autorizador_id BIGINT NOT NULL,
    tipo_excepcion VARCHAR(100) NOT NULL,
    entidad_afectada VARCHAR(100) NOT NULL,
    registro_afectado_id BIGINT NOT NULL,
    justificacion TEXT NOT NULL,
    fecha_hora TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_auditoria_usuario_autorizador
        FOREIGN KEY (usuario_autorizador_id)
        REFERENCES equiprent.usuario (usuario_id)
        ON DELETE RESTRICT
);

CREATE INDEX idx_auditoria_usuario_autorizador_id ON equiprent.auditoria_excepcion (usuario_autorizador_id);